.BugProfile {
    margin: 50px auto;
    width: 90%;
    box-shadow: 0 2px 3px #ccc;
    border: 3px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}
.BugProfile input{
    border-radius: 0;
}

@media (min-width: 600px){
    .BugProfile{
        width: 500px
    }
}