.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

@media (min-width: 500px){
   
}
