.LoginBox{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 70%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 5px 3px 6px rgb(13, 56, 13);
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    0%{
        bottom: 300px;
    }
    100%{
        bottom: 0;
    }
}
.LoginBox h1{
    text-align: center;
}

.LoginBox img{
    text-align: center;
    min-height: 70px;
}
.LoginBox button{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.LoginBox button:hover{
    color: white;
    transform: scale(1.1);
}

.Logo{
    height: 120px;
    text-align: center;
}

@media only screen and (orientation: portrait){
    .LoginBox{
        height: 75%;
    }   
}

@media only screen and (orientation: landscape) and (min-width: 1000px){
    .LoginBox{
        height: 450px;
        width: 40%;
    }   
}
@media(min-width: 750px) and (orientation: portrait){
    .LoginBox{
        height: 50%;
    }
}

@media(min-height: 800px) and (min-width: 700px){
    .LoginBox{
        height: 45%;
        width: 40%;
        font-size: 25px;
    }
}