.Button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color : #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
    border-radius: 15px;
    background-color: white;
}

.Danger {
    color: #944317;
}

.Primary{
    color: black;
    background: linear-gradient(45deg, rgb(35, 116, 42), rgb(63, 175, 101));
}